<div class="container mt-5">
  <div class="row spaceText">
    <div class="col-md-8 order-md-1">
      <div class="carousel slide">
        <div>
          <div class="slidesHoliday">
              <img src="../../assets/image/GreenDiamond/holiday1.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/GreenDiamond/holiday10.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/GreenDiamond/holiday5.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/GreenDiamond/holiday13.jpg" style="width:100%; height: 400px">
          </div>
        </div>
        <!-- Next and previous buttons -->
        <button class="carousel-control-prev" type="button" (click)="plusSlides(-1)">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="plusSlides(1)">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Thumbnail images -->
      <div class="row thumbnail-img mt-3">
        <div class="column">
          <img class="demo cursor" src="../../assets/image/GreenDiamond/holiday1.jpg" style="width:100%" (click)="currentSlide(1)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/GreenDiamond/holiday10.jpg" style="width:100%" (click)="currentSlide(2)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/GreenDiamond/holiday5.jpg" style="width:100%" (click)="currentSlide(3)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/GreenDiamond/holiday13.jpg" style="width:100%" (click)="currentSlide(4)">
        </div>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">GREEN DIAMOND HẠ LONG</h4>
      <div class="product-short-description">
        <p><span class="text-content">
          Đã từ lâu lắm rồi, người ta vẫn xem kim cương là biểu tượng của những gì đẹp đẽ và bất diệt.
          Lấy cảm hứng từ viên Kim cương với sắc xanh mê hoặc, chủ đầu tư Handico 6 Hạ Long đã dày công nghiên cứu và
          thiết kế lên 1 tuyệt tác về kiến trúc, đó là tháp Kim cương xanh Green Diamond Hạ Long.
        </span></p>
      </div>
    </div>
  </div>
  <div class="product-footer">
    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TỔNG QUAN DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>Dự án Green Diamond Hạ Long</strong> thiết kế theo phong cách hiện đại, thiết kế kiến trúc xanh.
          Được ví như một viên kim cương xanh giữa lòng kỳ quan vịnh Hạ Long, lưng dựa núi, mặt hướng biển, vì vậy concept thiết kế dự án Green Diamond
          cũng có màu chủ đạo là màu xanh như tên gọi của nó. Hội tụ những tính chất của một dự án xanh, như ánh sáng tự nhiên, chất lượng âm thanh và
          không khí đều hòa hợp với tự nhiên mang tới cho cư dân sự gần gũi với một không gian sinh thái, đồng thời kết hợp cùng các tiện ích đẳng cấp phục vụ nhu cầu nâng cao sức khỏe.
        </span></p>
      </div>
      <div class="col-md-12 project-img spaceText">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/green.jpg" alt="">
      </div>

      <div class="col-md-12">
        <p><span class="text-content">• <strong>Tên dự án:</strong> Green Diamond Hạ Long.</span></p>
        <p><span class="text-content">• <strong>Vị trí dự án:</strong> Lô đất KS-E1, Khu đô thị mới Vựng Đâng, phường Yết Kiêu, TP Hạ Long, Quảng Ninh..</span></p>
        <p><span class="text-content">• <strong>Chủ đầu tư:</strong> Công ty cổ phần đầu tư và phát triển nhà số 6 Hạ Long – Handico 6 Hạ Long.</span></p>
        <p><span class="text-content">• <strong>Tổng diện tích GD1:</strong> 15.207 m2.</span></p>
        <p><span class="text-content">• <strong>Quy mô dự án:</strong></span></p>
          <div style="margin-left: 15px;">
            <p><span class="text-content">- 66 căn shophouse + liền kề và 1 tòa chung cư cao 39 tầng.</span></p>
            <p><span class="text-content">- 24 Nhà ở liền kề kế kết hợp kinh doanh thương mại (Shophouse).</span></p>
            <p><span class="text-content">- 42 Nhà ở liền kề.</span></p>
            <p><span class="text-content">- 01 tòa Chung cư thương mại gồm 01 tầng hầm + 37 tầng nổi + 01 tum với quy mô 13 căn shophouse,
              433 căn hộ chung cư, 14 căn duplex và hệ thống kỹ thuật đồng bộ, tiện ích bao gồm hệ thống đỗ xe thông minh tự động, bể bơi vô cực tràn bờ 4 mùa, sky bar, sky coffee....</span></p>
          </div>
          <p><span class="text-content">• <strong>Hình thức sở hữu:</strong> Sổ hồng lâu dài.</span></p>
          <p><span class="text-content">• <strong>Thời gian khởi công:</strong> Quý I/2020</span></p>
          <p><span class="text-content">• <strong>Thời gian bàn giao:</strong> Quý III/2022</span></p>
      </div>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/green1.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh dự án Green Diamond Hạ Long</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>VỊ TRÍ DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>Green Diamond Hạ Long</strong> tọa lạc tại lô đất KS-E1, khu đô thị mới Vựng Đâng, phường Yết Kiêu, Thành Phố Hạ Long
          Nằm tại mặt đường bao biển đẹp nhất Hạ Long, kết nối với Hầm Cửa Lục. Green Diamond là dự án bám biển hiếm hoi còn sót lại tại Hòn Gai. Do đó, các căn hộ đều có tầm view vịnh thoáng mát.
        </span></p>
      </div>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/green2.jpg" alt="">
      </div>
      <em class="note-img">Vị trí Dự án Green Diamond Hạ Long</em>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/grenn15.jpg" alt="">
      </div>
      <em class="note-img">Liên kết vùng Dự án Green Diamond Hạ Long</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><em><span class="text-content">• Cách hầm Cửa Lục chỉ 800m..</span></em></p>
        <p><em><span class="text-content">• Cách Vòng quay mặt trời Sun Wheel Hạ Long chỉ 400m.</span></em></p>
        <p><em><span class="text-content">• Cách bãi tắm Bãi Cháy 1,5km.</span></em></p>
        <p><em><span class="text-content">• Cách tổ hợp công viên Sun World Complex Hạ Long và Sun World Hạ Long Park 1,5km.</span></em></p>
        <p><em><span class="text-content">• Cách chợ Hạ Long 1 chỉ 2 km.</span></em></p>
        <p><em><span class="text-content">• Cách chợ Hạ Long 2 chỉ 1 km.</span></em></p>
        <p><em><span class="text-content">• Cách bệnh viện Vinmec 1 km.</span></em></p>
        <p><em><span class="text-content">• Cách trường Tiểu học Hạ Long 1,2 km.</span></em></p>
        <p><em><span class="text-content">• Cách trường THCS Lê Văn Tám 1,2 km.</span></em></p>
        <p><em><span class="text-content">• Cách trường Cấp 1,2,3 Văn Lang 1,2 km.</span></em></p>
        <p><em><span class="text-content">• Cách siêu thi Vinmart chỉ 200m.</span></em></p>
        <p><em><span class="text-content">• Cách khu nhà hàng ăn uống ven biển chỉ vài chục mét.</span></em></p>
        <p><em><span class="text-content">• Cách khu ẩm thực làng chài chỉ 400m.</span></em></p>
        <p><em><span class="text-content">• Cách cầu Bãy Cháy chỉ 300m.</span></em></p>
        <p><em><span class="text-content">• Cách khu ẩm thực làng chài chỉ 400m.</span></em></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TIỆN ÍCH DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content">TIỆN ÍCH NGOẠI KHU</span></p>
        <p><span class="text-content">Green Diamond có nhiều tiện ích đẳng cấp, với 20 tiện ích ngoài trời theo tiêu chuẩn Quốc tế:</span></p>
      </div>

      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/tienich1.jpg" alt="">
      </div>

      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/tienich2.jpg" alt="">
      </div>
      <em class="note-img">Tiện ích ngoại khu quanh Dự án Green Diamond</em>

      <!-- <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/holiday7.jpg" alt="">
      </div>
      <em class="note-img">Quảng trường trung tâm – Đài phun nước – Khu tập TDTT ngoài trời</em>
       -->
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/green8.jpg" alt="">
      </div>
      <em class="note-img">Khu nướng BBQ – Sân chơi trẻ em – Vườn hoa cây xanh</em>

      <div class="col-md-12">
        <p><span class="text-content">TIỆN ÍCH NỘI KHU</span></p>
        <p><span class="text-content">Bên trong của Dự án Green Diamond cũng có 23 tiện ích trong nhà, hiện đại theo tiêu chuẩn 5 sao Quốc tế, đẳng cấp hàng đầu tại thành phố Hạ Long:</span></p>
      </div>

      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/tienich3.jpg" alt="">
      </div>

      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/tienich4.jpg" alt="">
      </div>
      <em class="note-img">Hệ thống tiện ích nội khu Dự án Green Diamond</em>

      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/holiday7.jpg" alt="">
      </div>
      <em class="note-img">Quảng trường trung tâm – Đài phun nước – Khu tập TDTT ngoài trời</em>

      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/holiday7.jpg" alt="">
      </div>
      <em class="note-img">Khu nướng BBQ – Sân chơi trẻ em – Vườn hoa cây xanh</em>

    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>MẶT BẰNG DỰ ÁN GREEN DIAMOND</strong></h2>
      <div class="col-md-12">
        <p><span class="text-content"><strong>Dự án Green Diamond Hạ Long</strong> thiết kế hiện đại,
          đẳng cấp, tạo ra một cuộc sống cân bằng khi kết hợp giữa những căn hộ 5 sao hiện đại và không gian xanh,
          thoáng đãng và thân thiện với môi trường, hài hòa giữa mật độ dân cư và cảnh quan môi trường để đảm bảo một cuộc sống chất lượng cho khách hàng,
          đáp ứng các tiêu chí sống hiện đại, đẳng cấp.
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/matbangtong.jpg" alt="">
      </div>
      <em class="note-img">Mặt bằng tổng Dự án Green Diamond</em>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/matbang1.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/matbang2.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>THIẾT KẾ THE HOLIDAY HẠ LONG</strong></h2>
      <div class="col-md-12">
        <p><span class="text-content">Cốt lõi ý tưởng thiết kế dự án The Holiday Ha Long đến từ vẻ đẹp tự nhiên của Vịnh Hạ Long.
          Những hình ảnh tuyệt đẹp của di sản thế giới được đưa vào thiết kế tòa nhà, mang lại sự hài hòa tối ưu trong từng đường nét.
        </span></p>
        <p><span class="text-content"><strong>The Holiday Ha Long</strong>
          được thiết kế hiện đại, đặc biệt khả năng ghép căn linh hoạt là lựa chọn đa dạng cho khách hàng.
          Căn hộ The Holiday vừa hài hòa với thiên nhiên Hạ Long xinh đẹp, vừa mang lại cảm giác ấm cúng như khi ở nhà, hứa hẹn mang lại trải nghiệm ấn tượng ngay khi đặt chân tới.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/canho1.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/canho2.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/canho3.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/GreenDiamond/canho4.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Các căn hộ được thiết kế hiện đại với căn hộ 1PN – 2PN.
          Điểm thu hút tại dự án là các căn hộ có khả năng ghép căn linh hoạt, nhằm tăng thêm sự lựa chọn cho khách hàng.
        </span></p>
        <p><span class="text-content">Căn hộ The Holiday Hạ Long hứa hẹn mang lại một lượng căn hộ đa dạng về thể loại và phong phú về cách bài trí.
          Nhờ lợi thế lớn của vị trí, đứng từ bất kỳ căn hộ nào, du khách cũng có thể thu trọn quang cảnh biển trong tầm mắt.
        </span></p>
      </div>
    </div>

  <div class="row">
    <h2 style="text-align: center;"><strong>NỘI THẤT CĂN HỘ</strong></h2>
    <div class="col-md-12">
      <p><span class="text-content">Thiết kế căn hộ The Holiday Hạ Long cũng thể hiện sự đẳng cấp, sang trọng của chủ nhân căn hộ Condotel,
        kết hợp cùng những nội thất cao cấp và khung cửa mở rộng, tạo nên không gian sống thoải mái, vừa có thể sử dụng để ở như căn hộ bình thường,
        nhưng cũng có thể nghỉ ngơi, thư giãn như một khách sạn, resort hạng sang.
      </span></p>
    </div>
  </div>
  <div class="row spaceText">
    <div class="col-md-12 project-img">
      <img class="project-img-bds" src="../../assets/image/GreenDiamond/noithat1.jpg" alt="">
    </div>
    <div class="col-md-12 project-img">
      <img class="project-img-bds" src="../../assets/image/GreenDiamond/noithat2.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <h2 style="text-align: center;"><strong>GIÁ BÁN VÀ TIẾN ĐỘ THANH TOÁN</strong></h2>
    <div class="col-md-12">
      <p><span class="text-content"><strong>Giá bán căn hộ The Holiday Hạ Long:</strong> Liên hệ 0949 658 615</span></p>
      <div style="margin-left: 15px;">
        <p><span class="text-content">• Căn hộ Holiday Home giá chỉ từ 1.5 – 3.5 tỷ full nội thất.</span></p>
        <p><span class="text-content">• Căn hộ Holiday Premium giá chỉ từ 2.1 – 4.1 tỷ full nội thất tiêu chuẩn khách sạn.</span></p>
      </div>
      <p><span class="text-content"><strong>Chính sách bán hàng dự án The Holiday Ha Long</strong></span></p>
      <div style="margin-left: 15px;">
        <p><span class="text-content">• Đặc biệt, 100 khách hàng đầu tiên đặt chỗ thiện chí sở hữu ngay thẻ V.I.P đặc quyền:</span></p>
        <p><span class="text-content">• Cam kết thuê lại, chia sẻ lợi nhuận 42- 58% trên doanh thu.</span></p>
        <p><span class="text-content">• Cam kết lợi nhuận tối thiểu trong 2 năm đầu không dưới 8% năm.</span></p>
        <p><span class="text-content">• Hỗ trợ vay vốn 55% giá trị căn hộ, HTLS 0% trong 20 tháng.</span></p>
        <p><span class="text-content">• Khách không sử dụng gói HTLS chiết khấu 6%.</span></p>
        <p><span class="text-content">• Chiết khấu thanh toán sớm 95% tới 8%.</span></p>
      </div>
      <p><span class="text-content"><strong>THÔNG TIN LIÊN HỆ</strong></span></p>
      <p><span class="text-content">Thông tin chi tiết dự án The Holiday Hạ Long quý khách liên hệ</span></p>
      <p><span class="text-content">Hotline : 0964 831 999</span></p>
    </div>
  </div>
</div>
