<div class="container mt-5">
  <div class="row spaceText">
    <div class="col-md-6 order-md-1">
      <div class="carousel slide">
        <div>
          <div class="slidesDragonCastle">
              <img src="../../assets/image/DragonCastle/view1.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesDragonCastle">
              <img src="../../assets/image/DragonCastle/view2.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesDragonCastle">
              <img src="../../assets/image/DragonCastle/view3.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesDragonCastle">
              <img src="../../assets/image/DragonCastle/view4.jpg" style="width:100%; height: 400px">
          </div>
        </div>
        <!-- Next and previous buttons -->
        <button class="carousel-control-prev" type="button" (click)="plusSlides(-1)">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="plusSlides(1)">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Thumbnail images -->
      <div class="row thumbnail-img mt-3">
        <div class="column">
          <img class="demo cursor" src="../../assets/image/DragonCastle/view1.jpg" style="width:100%; height: 80px" (click)="currentSlide(1)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/DragonCastle/view2.jpg" style="width:100%; height: 80px" (click)="currentSlide(2)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/DragonCastle/view3.jpg" style="width:100%; height: 80px" (click)="currentSlide(3)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/DragonCastle/view4.jpg" style="width:100%; height: 80px" (click)="currentSlide(4)">
        </div>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">DRAGON CASTLE</h4>
      <div class="product-short-description">
        <p>
          <span class="text" style="text-align: center;">N.H.O – Chủ đầu tư Hàn Quốc đầu tiên đặt chân tới Hạ Long/Quảng Ninh <img draggable="false" role="img" class="emoji" alt="✔️" src="https://s.w.org/images/core/emoji/14.0.0/svg/2714.svg"></span>
        </p>
        <p>
          <span> N.H.O được thành lập năm 2012 với mục tiêu trở thành nhà cung cấp những ngôi nhà tốt với giá cả phải chăng cho người Việt. Với đội ngũ các chuyên gia đến từ Hàn Quốc, Singapore, Mỹ, Nhật Bản và Việt Nam,
            N.H.O đã phát triển 18 dự án tại 8 tỉnh thành lớn trên khắp Việt Nam. Đến nay, N.H.O đã cung cấp hơn 30,000 căn hộ chung cư và nhà phố chất lượng cao tới khách hàng. </span>
          <span class="emoji-sizer emoji-outer"><img draggable="false" role="img" class="emoji" alt="✍" src="https://s.w.org/images/core/emoji/14.0.0/svg/270d.svg"></span>
          <span class="text"> Trong một chuyến du lịch đến với Vịnh Hạ Long, ban lãnh đạo của N.H.O đã nhận thấy nơi đây cảnh sắc tương tự như Busan ở Hàn Quốc, nên đã quyết định phát triển dự án chuẩn Hàn Quốc đầu tiên tại Hạ Long. </span>
          <span class="emoji-sizer emoji-outer"><img draggable="false" role="img" class="emoji" alt="🇰🇷" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1f0-1f1f7.svg"></span>
          <span class="text"> The Dragon Castle Hạ Long – dự án chuẩn Hàn Quốc đầu tiên – của CĐT Hàn Quốc đầu tiên tại Hạ Long. Hứa hẹn sẽ mang đến cuộc sống chuẩn Hàn cho cư dân Hạ Long,
            cũng như tiềm năng đầu tư bậc nhất cho khách hàng! Cuộc sống chuẩn Hàn như tại Busan Hàn Quốc đang cách bạn thật gần!</span></p>
      </div>
    </div>
    <div class="col-md-2 order-md-3 mb-4 form-dang-ky">

    </div>
  </div>
  <div class="product-footer">
    <div class="row">
      <div class="col-md-12">
        <p>
          <span class="text-content"><strong>Chung cư The Dragon Castle</strong> là dự án tổ hợp thương mại dịch vụ và căn hộ cao cấp của chủ đầu tư N.H.O tọa lạc tại vị trí đắc địa gần cầu Bãi Cháy,
          nằm trong khu đô thị – Kings Town, dự án đã nhận được giải thưởng phát triển nhà ở tốt nhất, và giải thưởng kiến trúc khu dân cư tốt nhất,
          trong 2 năm liên tiếp từ giải thưởng Bất động sản Việt Nam và Dot Property Việt Nam. <strong>The Dragon Castle Hạ Long</strong> sở hữu tầm nhìn đắt giá, view toàn cảnh Vịnh và thành phố Hạ Long.
          </span>
        </p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/DragonCastle/view4.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh dự án <strong>Chung cư The Dragon Castle</strong></em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TỔNG QUAN DỰ ÁN CHUNG CƯ THE DRAGON CASTLE HẠ LONG&nbsp;</strong></h3>
        <p><span class="text-content"><strong>&nbsp;The Dragon Castle Hạ Long </strong>&nbsp;là khu căn hộ cao cấp với những tiện ích đáp ứng được những nhu cầu cần thiết cho mọi gia đình; mang lại không gian sống thư giãn và đẳng cấp.
          Chung cư Dragon Castle được thiết kế theo phong cách chuẩn Hàn Quốc với các căn hộ và tiện ích được tích hợp nhiều hệ thống thông minh nhưng giá bán vô cùng hợp lí.</span></p>
      </div>
    </div>
    <div class="row spaceText" style="align-items: center;">
      <div class="col-md-1 order-md-1">
      </div>
      <div class="col-md-4 order-md-2">
        <div class="tbl-duan">
          <h3 style="text-align: center;"><strong>TỔNG QUAN</strong></h3>
          <table width="291" class="tbl-mota">
            <tbody>
              <tr>
                <td width="147">Tên dự án:</td>
                <td width="144">Dragon Castle</td>
              </tr>
              <tr>
                <td>Vị trí:</td>
                <td>Quốc lộ 18, phường Bãi Cháy, TP Hạ Long, Quảng Ninh</td>
              </tr>
              <tr>
                <td>Chủ đầu tư:</td>
                <td>Công Ty CP Tổ Chức Nhà Quốc Gia (N.H.O)</td>
              </tr>
              <tr>
                <td>Thi công:</td>
                <td>Unicons</td>
              </tr>
              <tr>
                <td>Tổng diện tích:</td>
                <td>13.196 m2</td>
              </tr>
              <tr>
                <td>Quy mô:</td>
                <td>25 tầng</td>
              </tr>
              <tr>
                <td>Tầng hầm:</td>
                <td>2 Tầng</td>
              </tr>
              <!-- <tr>
                <td>Tần 1 - 5:</td>
                <td>Tầng thương mại, dịch vụ</td>
              </tr>
              <tr>
                <td>Tầng 6 - 40:</td>
                <td>Tầng Căn hộ</td>
              </tr> -->
              <tr>
                <td>Tổng số căn:</td>
                <td>1288 căn</td>
              </tr>
              <tr>
                <td>Loại hình căn hộ:</td>
                <td>2-3 Phòng ngủ</td>
              </tr>
              <tr>
                <td>Diện tích:</td>
                <td>43.28 - 90.95m2</td>
              </tr>
              <tr>
                <td>Hình thức sở hữu:</td>
                <td>Sổ hồng lâu dài</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 order-md-3" style="text-align: center;">
        <div class="col-md-12 project-img">
          <img class="project-img-bds" src="../../assets/image/DragonCastle/dragonCastle.jpg" alt="">
        </div>
        <em class="note-img">Hình ảnh Dragon Castle trực diện</em>
      </div>
      <div class="col-md-1 order-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>VỊ TRÍ DỰ ÁN THE DRAGON CASTLE</strong></h3>
        <p><span class="text-content"><strong> Dự án The Dragon Castle</strong> tọa lạc tại số 1 đường Cái Lân, trên mặt đường quốc lộ 18 thuộc phường Bãi Cháy, Tp Hạ Long, Quảng Ninh.
          Dự án tọa lạc gần trục đường chính, dễ dàng kết nối đến các khu vực xung quanh. Tuy vị trí gần đường lớn nhưng khu vực vẫn đảm bảo có sự thoáng đãng và yên tĩnh cần thiết.
          Với vị thế đắc địa từ <strong>Dragon Castle Hạ Long</strong>, cư dân chỉ mất chưa đến 5 phút để đến các tiện ích lân cận như: Ga Cái Lân, Bệnh viện Bãi Cháy, Bến xe Bãi Cháy, Chợ Giếng Đáy, Ga Hạ Long.
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/DragonCastle/vi-tri.jpg" alt="">
      </div>
      <em class="note-img">Vị trí dự án chung cư <strong>The Dragon Castle Ha Long</strong></em>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Đây là khu vực trung tâm đắc địa nhất TP. Hạ Long, đặc biệt vị trí hướng vịnh được các chuyên gia đánh giá có phong thủy tốt hứa hẹn mang đến cuộc sống phồn thịnh cho công đồng cư dân tương lai.
          <strong>Dự án Dragon Castle Ha Long</strong> cũng chỉ cách khu vui chơi giải trí Công viên Đại Dương với cáp treo Nữ hoàng, Vòng quay Mặt trời và vườn Nhật Bản <strong>Zen Garden</strong> trong bán kính 2km.
          Với vị trí thuận lợi thì chủ nhận những căn hộ <strong>Dragon Castle Hạ Long</strong> sẽ vô cùng thuận lợi khi di chuyển phục vụ nhu cầu làm việc , vui chơi giải trí
        </span></p>
        <p><em><span class="text-content">• Cạnh quốc lộ 18</span></em></p>
        <p><em><span class="text-content">• 6 phút để di chuyển đến Cầu Bãi Cháy</span></em></p>
        <p><em><span class="text-content">• 10 phút để di chuyển đến Trung tâm TP</span></em></p>
        <p><em><span class="text-content">• 15 phút để di chuyển đến Bệnh viện quốc tế Vinmect</span></em></p>
        <p><em><span class="text-content">• 15 phút để di chuyển đến Trường quốc tế Singapore</span></em></p>
        <p><em><span class="text-content">• 1h15p để di chuyển đến Sân bay Vân Đồn</span></em></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/DragonCastle/vi-tri2.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">
          Việc quy hoạch xây dựng cầu Cửa Lục 1 và Trung tâm thương mại <strong>Aeon Mall</strong> ngay gần dự án là tín hiệu tốt đẹp cho sự kết nối vùng,
          kết nối tiện ích linh hoạt và phát triển một trung tâm mới tại TP Hạ Long sầm uất, mang đến cơ hội đầu tư đắt giá cho khách hàng sở hữu secondhome hướng biển The Dragon Castle Hạ Long.
        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TIỆN ÍCH DỰ ÁN THE DRAGON CASTLE HA LONG</strong></h3>
        <p><span class="text-content">
          <strong>The Dragon Castle Hạ Long</strong> tổ hợp căn hộ phong cách resort, mang đến một khu phức hợp chất lượng cao nhằm tối ưu hóa chất lượng các lựa chọn về lối sống của người dân.
          Trở thành cư dân của <strong>The Dragon Castle</strong>, bạn sẽ được thừa hưởng tiện ích hiện đại trong Khu đô thị <strong>Kings Town</strong> về cơ sở hạ tầng, tiện ích, cộng đồng dân cư.
          <strong>The Dragon Castle</strong> xác lập tiêu chuẩn sống quốc tế với hệ thống 66 tiện ích đẳng cấp tích hợp, mô hình Compound khép kín All-in-one.
          Sống tại <strong>The Dragon Castle Ha Long</strong>, gia chủ sẽ như hòa mình vào không gian nghỉ dưỡng đích thực.
          Các tiện ích cao cấp được tập trung trên khoảng không cao nhất, đắt giá nhất của tháp chung cư, view thẳng ra Vịnh Hạ Long và cảng tàu quốc tế:
          bể bơi vô cực, phòng tập gym cao cấp, khu vực thư giãn, sân tập dưỡng sinh, cầu kính xuyên không,… mang đến không gian sống trọn vẹn, giúp cư dân tận hưởng cuộc sống nghỉ dưỡng tiện nghi trong chính ngôi nhà của mình.
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/DragonCastle/dragonCastle.jpg" alt=""  style="height: 600px;">
      </div>
      <em class="note-img">Hệ thống tiện ích nội khu dự án <strong>The Dragon Castle Ha Long</strong></em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">1. Khu vui chơi cho bé.</span></p>
        <p><span class="text-content">2. Khu vui chơi nước.</span></p>
        <p><span class="text-content">3. Khu vui tập thể dục ngoài trời.</span></p>
        <p><span class="text-content">4. Sân chơi thể thao.</span></p>
        <p><span class="text-content">5. Khu tiệc nướng BBQ.</span></p>
        <p><span class="text-content">6. Phòng sinh hoạt cộng đồng.</span></p>
        <p><span class="text-content">7. Vườn thư giãn.</span></p>
        <p><span class="text-content">8. Vườn gieo trồng.</span></p>
        <p><span class="text-content">9. Khu Free – Wifi.</span></p>
        <p><span class="text-content">10. Khu vui chơi cho bé trong nhà.</span></p>
        <p><span class="text-content">11. Phòng đa chức năng.</span></p>
        <p><span class="text-content">12. Cầu trên không.</span></p>
        <p><span class="text-content">13. Khu vọng cảnh.</span></p>
        <p><span class="text-content">14. Khu vực chiếu phim.</span></p>
        <p><span class="text-content">15. Khu Picnic.</span></p>
        <p><span class="text-content">16. Đường chạy bộ.</span></p>
      </div>
    </div>

    <div class="col-md-12 spaceText">
      <div class="carousel slide mb-6">
        <div class="form-img">
          <img [src]="'../../assets/image/DragonCastle/' + utilities[utilitiesIndex]" alt="" class="img-bds"
            style="height: 600px;" />
        </div>
        <button class="carousel-control-prev" type="button" (click)="changeImgDesign('prev', 'utilities')">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="changeImgDesign('next', 'utilities')">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>MẶT BẰNG CHUNG CƯ THE DRAGON CASTLE HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>Chung cư Dragon Castle Hạ Long</strong> được thiết kế theo phong cách Hàn Quốc hiện đại,
          bố trí nội thất hợp lý, nhiều tiện ích dịch vụ chất lượng sẽ đem tới cho khách hàng không gian sống tốt nhất.
          Các tòa căn hộ của <strong>Dragon Castle</strong> được thiết kế bởi các kiến trúc sư hàng đầu của Hàn Quốc, sự dụng không gian hài hòa, hợp lý,
          đem tới nhiều ánh sáng tự nhiên cho căn hộ và các luồng không khí lưu thông tốt. Một cuộc sống chuẩn phong cách Hàn Quốc.
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/DragonCastle/matbang1.jpg" alt="">
      </div>
      <em class="note-img">Mặt bằng dự án chung cư <strong>The Dragon Castle Hạ Long</strong></em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>The Dragon Castle Quảng Ninh</strong> gồm tổ hợp 1288 căn hộ chung cư có diện tích đa dạng từ 43m2 – 91m2,
          bố trí từ 1 – 3 phòng ngủ, cấu trúc 2 – 3 mặt thông thoáng. Chủ nhân tương lai có thể khai thác tối đa khả năng kinh doanh lưu trú:
          cho chuyên gia trong nước và quốc tế làm việc trong các KCN lân cận có nhu cầu thuê dài hạn, cho thuê căn hộ hay
          homestay khi khách tới Vịnh Hạ Long – nơi vốn là điểm thu hút khách du lịch với hàng triệu lượt ghé thăm.
        </span></p>
      </div>

      <div class="col-md-12 spaceText">
        <div class="carousel slide mb-6">
          <div class="form-img">
            <img [src]="'../../assets/image/DragonCastle/' + apartments[apartmentsIndex]" alt="" class="img-bds"
              style="height: 600px;" />
          </div>
          <button class="carousel-control-prev" type="button" (click)="changeImgDesign('prev', 'apartments')">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" (click)="changeImgDesign('next', 'apartments')">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>NỘI THẤT BÀN GIAO CĂN HỘ</strong></h3>
        <p><span class="text-content"><strong></strong>Nội thất căn hộ The Dragon Castle được thiết kế theo phong cách Hàn Quốc tiện nghi và tinh tế ưu ái trong từng không gian riêng.
            Tất cả các hạng mục vật tư trong căn hộ đều đạt tiêu chuẩn 3 sao trở lên đến từ các thương hiệu uy tín nhất Hàn Quốc:
        </span></p>
        <p><span class="text-content">• Cửa chính được sản xuất 100% từ Hàn Quốc với công nghệ bảo mật mới dễ mở khó đột nhập.</span></p>
        <p><span class="text-content">• Cửa sổ cao cấp với lớp kính giữ nhiệt vào mùa đông & chống nắng vào mùa hè.</span></p>
        <p><span class="text-content">• Cửa sổ cao cấp với lớp kính giữ nhiệt vào mùa đông & chống nắng vào mùa hè.</span></p>
        <p><span class="text-content">• Nội thất phòng khách, phòng ngủ nhập khẩu 100% Hàn Quốc.</span></p>
        <p><span class="text-content">• Phụ kiện bếp cung cấp bởi HAFELE thương hiệu thiết bị bếp mơ ước của tất cả các bà nội trợ.</span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12">
        <div class="carousel slide mb-6">
          <div class="form-img">
            <img [src]="'../../assets/image/DragonCastle/' + interiors[interiorsIndex]" alt="" class="img-bds"
              style="height: 600px;" />
          </div>
          <button class="carousel-control-prev" type="button" (click)="changeImgDesign('prev', 'interiors')">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" (click)="changeImgDesign('next', 'interiors')">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>GIÁ BÁN VÀ TIẾN ĐỘ THANH TOÁN</strong></h3>
        <p><span class="text-content">Giá bán căn hộ <strong>Dragon Castle Hạ Long</strong>: Liên hệ <strong>0949 658 615</strong></span></p>
        <p><span class="text-content">Tiến độ thanh toán dự án <strong>Dragon Castle Hạ Long</strong>: Liên hệ <strong>0949 658 615</strong></span></p>
        <p><span class="text-content">Chính sách bán hàng dự án <strong>Dragon Castle Hạ Long: </strong>.</span></p>
        <p><span class="text-content">• Vietcombank hỗ trợ vay lên tới 70% GTCH.</span></p>
        <p><span class="text-content">• Lãi suất 0%, ân hạn nợ gốc đến lúc nhận nhà.</span></p>
        <p><span class="text-content">• Chiết khấu từ 4 – 6% nếu KH thanh toán bằng vốn tự có.</span></p>
        <p><span class="text-content">• Tiến độ thanh toán thành 13 đợt, mỗi đợt đóng 5-10% cách nhau 2 tháng.</span></p>
        <p><span class="text-content">• Quà tặng khách tủ lạnh side by side LG trừ vào giá bán (15tr)</span></p>
        <p><span class="text-content">• Miễn phí dịch vụ 1 năm.</span></p>
        <p><span class="text-content">• 3 phương án: Ko vay, vay, thanh toán sớm 95%: </span></p>
        <p><span class="text-content">    - Ko vay: Chiếu khẩu 5% vào giá trước VAT & KPBT.</span></p>
        <p><span class="text-content">    - Vay: tối đa 70% – HTLS 18 tháng kể từ ngày giải ngân đầu tiên (ko có mốc chặn) – Lãi suất: 0%, Miễn phí trả nợ trước hạn, Ân hạn nợ gốc.</span></p>
        <p><span class="text-content">    - TT sớm 95%: Trong 10 ngày – hưởng CK 10%/ 1năm.</span></p>
      </div>
    </div>
  </div>
</div>
