<div class="fixed">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-white border-bottom box-shadow" style="justify-content: space-between">
      <div class="my-0 mr-md-auto font-weight-normal" style="padding: 6px;">
        <button class="btn-logo" routerLink="/">
          <img class="header_logo header-logo" height="60" src="../../assets/image/logo-global.png" alt="Bđs toàn cầu land">
        </button>
      </div>
      <nav class="my-2 my-md-0 mr-md-3">
        <button class="btn-logo home" routerLink="/trang-chu" routerLinkActive="active-nav">Trang chủ
        </button>
        <button class="btn-logo intro" routerLink="/gioi-thieu" routerLinkActive="active-nav">Giới thiệu
        </button>
        <button class="btn-logo" routerLink="/du-an" routerLinkActive="active-nav">Dự án phân phối
        </button>
        <button class="btn-logo" routerLink="/">Tin tức
        </button>
        <button class="btn-logo" routerLink="/">Liên hệ
        </button>
      </nav>
    </div>
  </div>
</div>
