<div class="fixed">
  <div class="container">
    <nav class="navbar">
      <div class="logo" routerLink="/trang-chu">
        <img class="header_logo header-logo" height="60" src="../../assets/image/logo-global.png" alt="Bđs toàn cầu land">
      </div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
          <li><a routerLink="/trang-chu" routerLinkActive="active-nav">Trang chủ</a></li>
          <li><a routerLink="/gioi-thieu" routerLinkActive="active-nav">Giới thiệu</a></li>
          <li class="introduce">
            <a routerLinkActive="active-nav">Dự án phân phối</a>
            <ul class="dropdown">
              <li><a routerLink="/du-an/icon-40">Dự án Icon-40 </a></li>
              <li><a routerLink="/du-an/dragon-castle">Dragon Castle</a></li>
              <li><a routerLink="/du-an/the-astro-halong-bay">The Astro HaLong Bay</a></li>
              <li><a routerLink="/du-an/the-holiday-halong">The Holiday Hạ Long</a></li>
              <li><a routerLink="/du-an/ruby-city-ha-long">Ruby City Hạ Long</a></li>
              <li><a routerLink="/du-an/sun-grand-ha-long">Sun Grand city Feria Hạ Long</a></li>
            </ul>
          </li>
          <li><a href="/">Tin tức</a></li>
          <li><a href="/">Liên hệ</a></li>
        </div>
      </ul>
    </nav>
  </div>
</div>




