
<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow" style="justify-content: space-between">
        <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="/">GLOBAL PROPERTY</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" routerLink="/">Trang chủ</a>
          <a class="p-2 text-dark" routerLink="/gioi-thieu">Giới thiệu</a>
          <a class="p-2 text-dark" routerLink="/du-an">Dự án phân phối</a>
          <a class="p-2 text-dark" routerLink="/tin-tuc">Tin tức</a>
          <!-- <a class="p-2 text-dark" routerLink="/">Tuyển dụng</a> -->
          <a class="p-2 text-dark" routerLink="/lien-he">Liên hệ</a>
        </nav>
      </div>
</div>
