<div class="container mt-5">
  <div class="row spaceText">
    <div class="col-md-8 order-md-1">
      <div class="carousel slide">
        <div>
          <div class="slidesHoliday">
              <img src="../../assets/image/HolidayHL/holiday1.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/HolidayHL/holiday10.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/HolidayHL/holiday5.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesHoliday">
              <img src="../../assets/image/HolidayHL/holiday13.jpg" style="width:100%; height: 400px">
          </div>
        </div>
        <!-- Next and previous buttons -->
        <button class="carousel-control-prev" type="button" (click)="plusSlides(-1)">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="plusSlides(1)">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Thumbnail images -->
      <div class="row thumbnail-img mt-3">
        <div class="column">
          <img class="demo cursor" src="../../assets/image/HolidayHL/holiday1.jpg" style="width:100%" (click)="currentSlide(1)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/HolidayHL/holiday10.jpg" style="width:100%" (click)="currentSlide(2)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/HolidayHL/holiday5.jpg" style="width:100%" (click)="currentSlide(3)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/HolidayHL/holiday13.jpg" style="width:100%" (click)="currentSlide(4)">
        </div>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">The Holiday HẠ LONG</h4>
      <div class="product-short-description">
        <p><span class="text-content">
          Chủ đầu tư Công ty Cổ phần Khách sạn Vịnh Hạ Long chính thức ra mắt dự án <strong>The Holiday Hạ Long</strong> – tổ hợp nghỉ dưỡng tiêu chuẩn quốc tế tại trung tâm du lịch Bãi Cháy,
          Hạ Long với giá bán ưu đãi cùng nhiều chính sách bán hàng hấp dẫn.
        </span></p>
      </div>
    </div>
  </div>
  <div class="product-footer">
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>The Holiday Hạ Long</strong> là dự án khách sạn, dịch vụ và căn hộ nghỉ dưỡng 5 sao tại TP. Hạ Long.
          Với vị trí đắc địa, thiết kế ưu việt, cùng tiện ích đẳng cấp 5 sao quốc tế, hứa hẹn mang đến một không gian nghỉ dưỡng mới mẻ,
          hiện đại bậc nhất và khả năng sinh lời hấp dẫn, thu hút khách hàng và giới đầu tư bất động sản khu vực phía bắc.
          </span>
        </p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday1.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh dự án The Holiday Hạ Long Bãi Cháy</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Tiên phong cho khái niệm “Holiday Homes” – loại hình bất động sản phục vụ nhu cầu du lịch,
          nghỉ dưỡng kết hợp đầu tư khai thác sinh lời, The Holiday Ha Long vừa là ngôi nhà lưu giữ những kỷ niệm đẹp bên gia đình,
          vừa là “của để dành” với tiềm năng tăng giá vô hạn.
        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TỔNG QUAN DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>The Holiday Ha Long</strong> là tổ hợp bất động sản đang được phát triển bởi Tập đoàn Global Invest
          tại vị trí duy nhất còn lại trên mặt đường Hạ Long. The Holiday Ha Long không chỉ thừa hưởng mà sẽ bổ sung vào hệ sinh thái du lịch Bãi Cháy nhiều giá trị mới,
          với hệ thống chăm sóc sức khỏe toàn diện cùng những tiện ích tiêu chuẩn quốc tế lần đầu xuất hiện.
        </span></p>
      </div>
    </div>
    <div class="row spaceText" style="align-items: center;">
      <div class="col-md-6 order-md-2">
        <div class="tbl-duan">
          <h3 style="text-align: center;"><strong>TỔNG QUAN</strong></h3>
          <table width="291" class="tbl-mota">
            <tbody>
              <tr>
                <td width="147">Tên dự án:</td>
                <td width="144">Khách sạn, dịch vụ, Căn hộ nghỉ dưỡng cao cấp 5 sao Vịnh Hạ Long</td>
              </tr>
              <tr>
                <td>Tên thương mại:</td>
                <td>The Holiday Ha Long</td>
              </tr>
              <tr>
                <td>Vị trí:</td>
                <td>Đường Hạ Long, Phường Bãi Cháy, Thành phố Hạ Long, Quảng Ninh</td>
              </tr>
              <tr>
                <td>Chủ đầu tư:</td>
                <td>Công ty CP Khách sạn Vịnh Hạ Long</td>
              </tr>
              <tr>
                <td>Thi công:</td>
                <td>Unicons</td>
              </tr>
              <tr>
                <td>Đơn vị phát triển dự án:</td>
                <td>Global Invest-Công ty CP Tư vấn Đầu tư và Tài Chính Toàn Cầu</td>
              </tr>
              <tr>
                <td>Đơn vị vận hành khối khách sạn::</td>
                <td>Thương hiệu quốc tế 5 sao thuộc IHG</td>
              </tr>
              <tr>
                <td>Đơn vị vận hành khối “Holiday Home”:</td>
                <td>Thương hiệu quốc tế thuộc Flight Center Travel Cty Du lịch lữ hành lớn nhất Thế giới</td>
              </tr>
              <tr>
                <td>Tư vấn Thiết kế Kiến trúc & Cảnh quan:</td>
                <td>Thương hiệu quốc tế từ Singapore</td>
              </tr>
              <tr>
                <td>Tư vấn Thiết kế Nội thất khách sạn:</td>
                <td>Thương hiệu quốc tế với hơn 50 năm kinh nghiệm về thiết kế nội thất khách sạn</td>
              </tr>
              <tr>
                <td>Tư vấn Thiết kế – Vận hành:</td>
                <td>Thương hiệu quốc tế từ Singapore</td>
              </tr>
              <tr>
                <td>Quy mô dự án:</td>
                <td>1 toà tháp khách sạn Holiday Inn và 1 toà tháp căn hộ nghỉ dưỡng tiêu chuẩn quốc tế</td>
              </tr>
              <tr>
                <td>Số tầng nổi:</td>
                <td>39 tầng + 1 tầng mái</td>
              </tr>
              <tr>
                <td>Số tầng hầm::</td>
                <td>2 tầng hầm</td>
              </tr>
              <tr>
                <td>Số tầng dịch vụ:</td>
                <td>7 tầng</td>
              </tr>
              <tr>
                <td>Loại hình sản phẩm</td>
                <td>Căn hộ Studio, 1 PN, 1PN + 1, 2 PN và Duplex</td>
              </tr>
              <tr>
                <td>Hình thức sở hữu:</td>
                <td>50 năm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 order-md-3" style="text-align: center;">
        <div class="col-md-12 project-img">
          <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday2.jpg" alt="">
        </div>
        <em class="note-img">Tòa nhà The Holiday Ha Long</em>
      </div>
      <div class="col-md-1 order-md-4">
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>VỊ TRÍ DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>Dự án The Holiday Hạ Long</strong>nằm trên mặt đường Hạ Long, phường Bãi Cháy, thành phố Hạ Long, tỉnh Quảng Ninh,
          tọa lạc tại phía Nam của vịnh Hạ Long, với vị trí trung tâm của khu vực du lịch Bãi Cháy.. Nằm đối diện một công viên Sungroup lớn đã đi vào hoạt động và được nhiều khách hàng trông đợi.</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday4.jpg" alt="">
      </div>
      <em class="note-img">Vị trí dự án The Holiday Hạ Long  – Bãy Cháy</em>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Vị trí “tâm điểm vàng” mang đến cho dự án khả năng kết nối giao thông toàn diện.
          The Holiday Ha Long có hai lối tiếp cận: Mặt trước tiếp cận từ đường Hạ Long và mặt sau tiếp cận từ đường Lý Quốc Sư.
          Bên cạnh đó để di chuyển đến các khu vực vui chơi, giải trí, hành chính, bãi tắm tự nhiên công cộng,…cũng vô cùng dễ dàng.
        </span></p>
        <p><span class="text-content">Căn hộ nghỉ dưỡng The Holiday Hạ Long tọa lạc tại trung tâm phường Bãi Cháy.
          Nơi hội tụ các yếu tố vàng, du khách có thể dễ dàng kết nối đến: hệ thống giao thông thuận tiện, khu vui chơi giải trí, khu trung tâm thương mại…
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday5.jpg" alt="">
      </div>
      <em class="note-img">Liên kết vùng dự án The Holiday Bãi Cháy Hạ Long</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><em><span class="text-content">• Công viên SunWorl Hạ Long 1 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Cảng tàu Quốc tế Hạ Long 2 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Bài tắm Bãi Cháy: 1 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Chợ Vườn Đào: 1 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Cầu Bãi Cháy: 5 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Bến xe Bãi Cháy 6 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Vòng quay Mặt trời. 6 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Cảng Cái Lân 7 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Bệnh viện Vinmec 7 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Bệnh viện Quảng Ninh: 8 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Bảo tàng Quảng Ninh: 8 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Núi Bài Thơ 7 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Trung tâm hành chính Công TP Hạ Long 7 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• Trường cấp 1 và cấp 2 Bãi Cháy 5 phút đi xe.</span></em></p>
        <p><em><span class="text-content">• UBND Phường Bãi Cháy: 5 phút đi xe.</span></em></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TIỆN ÍCH DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content">Căn hộ nghỉ dưỡng The Holiday Hạ Long nằm ở trung tâm Bãi Cháy nên du khách có thể di chuyển thuận tiện cho việc mua sắm, dạo bộ, vui chơi.
          Thiên đường vui chơi giải trí đa dạng và độc đáo: Đem đến những phút giây sôi nổi, những trải nghiệm kỳ thú gắn kết cả gia đình.
          Việc chú trọng phục vụ cả những “thượng đế nhí” khiến tổ hợp dịch vụ của The Holiday Hạ Long được đánh giá là toàn diện và tiện nghi.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday6.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday7.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday8.jpg" alt="">
      </div>
      <em class="note-img">Bể bơi vô cực tại The Holiday Hạ Long</em>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p><em><span class="text-content">• Nhà hàng Phượng Hoàng.</span></em></p>
        <p><em><span class="text-content">• E-Casino.</span></em></p>
        <p><em><span class="text-content">• Convenient Store.</span></em></p>
        <p><em><span class="text-content">• Sảnh Bãi Cháy.</span></em></p>
        <p><em><span class="text-content">• Phòng Pantry.</span></em></p>
        <p><em><span class="text-content">• Coffee shop.</span></em></p>
        <p><em><span class="text-content">• Phòng họp.</span></em></p>
        <p><em><span class="text-content">• Bể bơi có mái che.</span></em></p>
        <p><em><span class="text-content">• Bể bơi trẻ em.</span></em></p>
        <p><em><span class="text-content">• Pool Bar.</span></em></p>
        <p><em><span class="text-content">• Ghế tắm nắng.</span></em></p>
        <p><em><span class="text-content">• Mái che đa năng.</span></em></p>
        <p><em><span class="text-content">• Healthy Club (Gym).</span></em></p>
        <p><em><span class="text-content">• Khu trị liệu sức khỏe.</span></em></p>
        <p><em><span class="text-content">• Phòng tắm xông hơi.</span></em></p>
        <p><em><span class="text-content">• Kid Club.</span></em></p>
        <p><em><span class="text-content">• Spa.</span></em></p>
      </div>
      <div class="col-md-6">
        <p><em><span class="text-content">• Phòng chờ hướng biển.</span></em></p>
        <p><em><span class="text-content">• Sân tập Yoga.</span></em></p>
        <p><em><span class="text-content">• Bar chân mây.</span></em></p>
        <p><em><span class="text-content">• Bể bơi vô cực.</span></em></p>
        <p><em><span class="text-content">• Golf Hub.</span></em></p>
        <p><em><span class="text-content">• Khu tập chip.</span></em></p>
        <p><em><span class="text-content">• Khu tập putt.</span></em></p>
        <p><em><span class="text-content">• Cầu địa đàng.</span></em></p>
        <p><em><span class="text-content">• Sân vườn vọng nguyệt.</span></em></p>
        <p><em><span class="text-content">• Ghế tựa trăng non.</span></em></p>
        <p><em><span class="text-content">• Đường dạo bộ.</span></em></p>
        <p><em><span class="text-content">• Vườn treo đa tầng.</span></em></p>
        <p><em><span class="text-content">• Bãi đỗ xe tự động.</span></em></p>
        <p><em><span class="text-content">• Thủy cảnh.</span></em></p>
        <p><em><span class="text-content">• Đài phun nước.</span></em></p>
        <p><em><span class="text-content">• Tiểu cảnh rồng tọa nghinh hải.</span></em></p>
        <p><em><span class="text-content">• Công viên ánh sáng.</span></em></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday10.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday11.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday12.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday13.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>MẶT BẰNG DỰ ÁN THE HOLIDAY HẠ LONG</strong></h2>
      <div class="col-md-12">
        <p><span class="text-content"><strong>The Holiday Ha Long</strong> đem đến loại hình sản phẩm: Holiday Homes Bất động sản phục vụ cho nhu cầu về du lịch,
          nghỉ dưỡng Có thể đều đặn hàng tháng hoặc không thường xuyên của Chủ sở hữu và kết hợp với mục đích đầu tư khai thác sinh lời.
        </span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/matbang1.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/matbang2.jpg" alt="">
      </div>
      <em class="note-img">Mặt bằng dự án The Holiday Hạ Long – Bãi Cháy tầng 21-35</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>• The Holiday Ha Long</strong> tạo ra điểm nhấn kiến trúc cảnh quan khu vực,
          đồng thời đảm bảo tính thống nhất và mối tương quan với các công trình lân cận.
          Hầu hết căn hộ đều có tầm nhìn hướng biển, thu trọn đường chân trời và bình minh trên vịnh.</span></p>
        </div>

      <div class="col-md-12 project-img spaceText">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/holiday14.jpg" alt="">
      </div>

      <div class="col-md-12 spaceText">
        <p><span class="text-content"><strong>• The Holiday Ha Long</strong> đem đến cho khách hàng 2 lựa chọn khai thác:
          Holiday Premium – Khách hàng bàn giao cho đơn vị vận hành khai thác hoặc Holiday Homes – Khách hàng tự khai thác và sử dụng.
        </span></p>

        <p><span class="text-content"><strong>Holiday Premium</strong></span></p>
        <div style="margin-left: 15px;">
          <p><span class="text-content">• Loại hình khai thác: Bàn giao cho đơn vị vận hành, Uỷ thác cho thuê – Cross Hotel & Resort (Australia).</span></p>
          <p><span class="text-content">• Tập trung ở các tầng thấp.</span></p>
          <p><span class="text-content">• Gần 100% căn hộ hướng biển & thành phố.</span></p>
          <p><span class="text-content">• Studio, 1PN, 1,5PN và 2 PN từ 33 m2.</span></p>
          <p><span class="text-content">• Tiêu chuẩn bàn giao: Hoàn thiện nội thất & đồ rời theo tiêu chuẩn của đơn vị vận hành.</span></p>
        </div>

        <p><span class="text-content"><strong>Holiday Premium</strong></span></p>
        <div style="margin-left: 15px;">
          <p><span class="text-content">• Loại hình khai thác: Tự vận hành khai thác hoặc sử dụng theo nhu cầu.</span></p>
          <p><span class="text-content">• Tập trung ở các tầng cao.</span></p>
          <p><span class="text-content">• Gần 100% căn hộ hướng biển & thành phố.</span></p>
          <p><span class="text-content">• Studio, 1PN và 2 PN từ 33 m2.</span></p>
          <p><span class="text-content">• Đa dạng tiêu chuẩn bàn giao: Bàn giao cơ bản hoặc hoàn thiện nội thất.</span></p>
        </div>

        <p><span class="text-content">Diện tích căn hộ tại dự án The Holiday Hạ Long – Bãi Cháy</span></p>
        <div style="margin-left: 15px;">
          <p><span class="text-content">• Căn hộ Studio: Từ 33 m2 đến 50 m2.</span></p>
          <p><span class="text-content">• Căn hộ 1 PN: Từ 42 m2 đến 44 m2.</span></p>
          <p><span class="text-content">• Căn hộ 1,5PN: Từ 49 m2 đến 56 m2.</span></p>
          <p><span class="text-content">• Căn hộ 2 PN: Từ 61 m2 đến 64 m2.</span></p>
          <p><span class="text-content">• Căn hộ 2 PN: Từ 61 m2 đến 64 m2.</span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>THIẾT KẾ THE HOLIDAY HẠ LONG</strong></h2>
      <div class="col-md-12">
        <p><span class="text-content">Cốt lõi ý tưởng thiết kế dự án The Holiday Ha Long đến từ vẻ đẹp tự nhiên của Vịnh Hạ Long.
          Những hình ảnh tuyệt đẹp của di sản thế giới được đưa vào thiết kế tòa nhà, mang lại sự hài hòa tối ưu trong từng đường nét.
        </span></p>
        <p><span class="text-content"><strong>The Holiday Ha Long</strong>
          được thiết kế hiện đại, đặc biệt khả năng ghép căn linh hoạt là lựa chọn đa dạng cho khách hàng.
          Căn hộ The Holiday vừa hài hòa với thiên nhiên Hạ Long xinh đẹp, vừa mang lại cảm giác ấm cúng như khi ở nhà, hứa hẹn mang lại trải nghiệm ấn tượng ngay khi đặt chân tới.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/canho1.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/canho2.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/canho3.jpg" alt="">
      </div>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/HolidayHL/canho4.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Các căn hộ được thiết kế hiện đại với căn hộ 1PN – 2PN.
          Điểm thu hút tại dự án là các căn hộ có khả năng ghép căn linh hoạt, nhằm tăng thêm sự lựa chọn cho khách hàng.
        </span></p>
        <p><span class="text-content">Căn hộ The Holiday Hạ Long hứa hẹn mang lại một lượng căn hộ đa dạng về thể loại và phong phú về cách bài trí.
          Nhờ lợi thế lớn của vị trí, đứng từ bất kỳ căn hộ nào, du khách cũng có thể thu trọn quang cảnh biển trong tầm mắt.
        </span></p>
      </div>
    </div>

  <div class="row">
    <h2 style="text-align: center;"><strong>NỘI THẤT CĂN HỘ</strong></h2>
    <div class="col-md-12">
      <p><span class="text-content">Thiết kế căn hộ The Holiday Hạ Long cũng thể hiện sự đẳng cấp, sang trọng của chủ nhân căn hộ Condotel,
        kết hợp cùng những nội thất cao cấp và khung cửa mở rộng, tạo nên không gian sống thoải mái, vừa có thể sử dụng để ở như căn hộ bình thường,
        nhưng cũng có thể nghỉ ngơi, thư giãn như một khách sạn, resort hạng sang.
      </span></p>
    </div>
  </div>
  <div class="row spaceText">
    <div class="col-md-12 project-img">
      <img class="project-img-bds" src="../../assets/image/HolidayHL/noithat1.jpg" alt="">
    </div>
    <div class="col-md-12 project-img">
      <img class="project-img-bds" src="../../assets/image/HolidayHL/noithat2.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <h2 style="text-align: center;"><strong>GIÁ BÁN VÀ TIẾN ĐỘ THANH TOÁN</strong></h2>
    <div class="col-md-12">
      <p><span class="text-content"><strong>Giá bán căn hộ The Holiday Hạ Long:</strong> Liên hệ 0949 658 615</span></p>
      <div style="margin-left: 15px;">
        <p><span class="text-content">• Căn hộ Holiday Home giá chỉ từ 1.5 – 3.5 tỷ full nội thất.</span></p>
        <p><span class="text-content">• Căn hộ Holiday Premium giá chỉ từ 2.1 – 4.1 tỷ full nội thất tiêu chuẩn khách sạn.</span></p>
      </div>
      <p><span class="text-content"><strong>Chính sách bán hàng dự án The Holiday Ha Long</strong></span></p>
      <div style="margin-left: 15px;">
        <p><span class="text-content">• Đặc biệt, 100 khách hàng đầu tiên đặt chỗ thiện chí sở hữu ngay thẻ V.I.P đặc quyền:</span></p>
        <p><span class="text-content">• Cam kết thuê lại, chia sẻ lợi nhuận 42- 58% trên doanh thu.</span></p>
        <p><span class="text-content">• Cam kết lợi nhuận tối thiểu trong 2 năm đầu không dưới 8% năm.</span></p>
        <p><span class="text-content">• Hỗ trợ vay vốn 55% giá trị căn hộ, HTLS 0% trong 20 tháng.</span></p>
        <p><span class="text-content">• Khách không sử dụng gói HTLS chiết khấu 6%.</span></p>
        <p><span class="text-content">• Chiết khấu thanh toán sớm 95% tới 8%.</span></p>
      </div>
      <p><span class="text-content"><strong>THÔNG TIN LIÊN HỆ</strong></span></p>
      <p><span class="text-content">Thông tin chi tiết dự án The Holiday Hạ Long quý khách liên hệ</span></p>
      <p><span class="text-content">Hotline : 0964 831 999</span></p>
    </div>
  </div>
</div>
