<div class="container mt-5">
  <div class="row spaceText">
    <div class="col-md-6 order-md-1">
      <div class="carousel slide mb-6">
        <div class="form-img">
          <img [src]="'../../assets/image/Home/' + images[currentSlideIndex]" alt="" class="img-bds" />
        </div>
        <button class="carousel-control-prev" type="button" (click)="changeImg('prev')">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="changeImg('next')">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">Dự án ICON 40 HẠ LONG</h4>
    </div>
  </div>
  <div class="product-footer">
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>ICON40 HẠ LONG</strong> được định danh là tổ hợp căn hộ cao cấp bậc nhất
            bên Vịnh di sản, một nơi an cư và ngôi nhà thứ hai đáp ứng nhu cầu: sống – nghỉ dưỡng và kinh doanh lý
            tưởng. Đó chính là tận hưởng sự tiện nghi, hiện đại của 365 ngày nghỉ dưỡng tại gia, chạm vào nhịp sống
            sôi động với các hoạt động vui chơi, giải trí đẳng cấp bên bờ Vịnh.</span></p>
        <p><span class="text-content"><strong>Vị trí</strong>: Trục đường Hoàng Quốc Việt, ô đất H5-2, Lô đất
            H5, Khu đô thị dịch vụ Hùng Thắng, Phường Hùng Thắng, Thành phố Hạ Long, Tỉnh Quảng Ninh.</span></p>
        <p><em><span class="text-content">• Cách tổ hợp Marine Plaza 5 phút đi bộ</span></em></p>
        <p><em><span class="text-content">• Cách Lotte Mart 1 phút đi bộ</span></em></p>
        <p><em><span class="text-content">• Cách Bãi biển Manina Bay: 1km</span></em></p>
        <p><em><span class="text-content">• Cách Rạp chiếu phim CGV: 1km</span></em></p>
        <p><em><span class="text-content">• Cách Chợ đêm Hạ Long: 3km</span></em></p>
        <p><em><span class="text-content">• Cách Bến xe Bãi Cháy: 4km</span></em></p>
        <p><em><span class="text-content">• Cách Công viên Hạ Long: 5km</span></em></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/vitri.jpg" alt="">
      </div>
      <em class="note-img">Vị trí dự án Icon 40</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>BIỂU TƯỢNG TRUNG TÂM MỚI HẠ LONG&nbsp;</strong></h3>
        <p><span class="text-content">Đồng hành cùng sự phát triển “bứt tốc” của cửa ngõ phía Tây để trở thành
            trung tâm mới của thành phố,<strong>&nbsp;ICON40</strong>&nbsp;sở hữu những thế mạnh nội tại hoàn hảo để
            trở thành mảnh đất vàng đắt giá bậc nhất trong tương lai.</span></p>
        <p><span class="text-content">Vươn mình đầy kiêu hãnh với tầm vóc tòa tháp cao nhất khu vực, một trạm
            năng lượng tái tạo sức khỏe, tinh thần cho mỗi du khách hay chủ nhân các căn hộ – được xem như những
            secondhome đẳng cấp thuộc tòa tháp 40&nbsp; tầng bên Vịnh kỳ quan này.</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-6 order-md-1">
        <div class="tbl-duan">
          <h3 style="text-align: center;"><strong>TỔNG QUAN</strong></h3>
          <table width="291">
            <tbody>
              <tr>
                <td width="147">Tên dự án:</td>
                <td width="144">ICON 40</td>
              </tr>
              <tr>
                <td>Vị trí:</td>
                <td>Lô H5-2 Mặt đường Hoàng Quốc Việt - P. Hùng Thắng - TP. Hạ Long - Tỉnh Quảng Ninh</td>
              </tr>
              <tr>
                <td>Chủ đầu tư:</td>
                <td>BIM Group</td>
              </tr>
              <tr>
                <td>Thi công:</td>
                <td>Unicons</td>
              </tr>
              <tr>
                <td>Tổng diện tích:</td>
                <td>2.479 m2</td>
              </tr>
              <tr>
                <td>Quy mô:</td>
                <td>40 tầng</td>
              </tr>
              <tr>
                <td>Tầng hầm:</td>
                <td>2 Tầng</td>
              </tr>
              <tr>
                <td>Tần 1 - 5:</td>
                <td>Tầng thương mại, dịch vụ</td>
              </tr>
              <tr>
                <td>Tầng 6 - 40:</td>
                <td>Tầng Căn hộ</td>
              </tr>
              <tr>
                <td>Tổng số căn:</td>
                <td>804 căn</td>
              </tr>
              <tr>
                <td>Loại hình căn hộ:</td>
                <td>Studio, 1-2-3 Phòng ngủ, Duplex, Penthouse</td>
              </tr>
              <tr>
                <td>Diện tích:</td>
                <td>38 - 282m2</td>
              </tr>
              <tr>
                <td>Bàn giao:</td>
                <td>2024</td>
              </tr>
              <tr>
                <td>Hình thức sở hữu:</td>
                <td>Sổ hồng lâu dài</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 order-md-2">
        <div class="col-md-12 project-img">
          <img class="project-img-bds" src="../../assets/image/Icon-40/viewfront.jpg" alt="">
        </div>
        <em class="note-img">Hình ảnh tháp Icon 40 mặt trước</em>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>QUẦN THỂ TIỆN ÍCH KIẾN TẠO CHẤT SỐNG SANG</strong></h3>
        <p><span class="text-content">Được định hướng để trở thành nơi an cư của cộng đồng đẳng cấp với lối sống
            vượt trội hoàn toàn mới, tại&nbsp;<strong>ICON40</strong>, hệ thống tiện ích nội khu được thiết kế vừa
            lưu giữ nếp sống “người Hạ Long”, ” vừa được trải nghiệm phong cách sống sang với tổ ích tiện ích, dịch
            vụ, giải trí “All-in-one”, ứng dụng công nghệ vào vận hành dự án…..</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/quanthe.jpg" alt="">
      </div>
      <em class="note-img">Quần thể tiện ích</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>CẬN KỀ HỆ SINH THÁI GIẢI TRÍ MUA SẮM ĐA DẠNG</strong></h3>
        <p><span class="text-content">Năng động và thời thượng, thiết lập chuẩn mực sống trên tầm cao theo những
            tiêu chuẩn xa xỉ,&nbsp;<strong>ICON40</strong>&nbsp;vừa đủ xa để an nhiên sống hưởng trong không gian
            sang trọng tựa những kỳ nghỉ dưỡng, vừa đủ gần để dễ dàng kết nối với những giá trị thượng đỉnh sánh tầm
            quốc tế trong khu đô thị Hạ Long Marina với hệ sinh thái ẩm thực, giải trí, mua sắm, giáo dục… đẳng
            cấp.</span></p>
        <p><span class="text-content">Với thiết kế thông minh, mật độ thấp chủ đầu tư đã dành ra <em>20% không
              gian</em> để làm tiện ích phục vụ cư dân</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/home.jpg" alt="">
      </div>
      <em class="note-img">Hình ảnh tháp Icon 40 giữa trung tâm du lịch</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>KIÊU HÃNH KIẾN TRÚC BIỂU TƯỢNG GIỮA VỊNH BIỂN</strong></h3>
        <p><span class="text-content"><strong>ICON40</strong>&nbsp;tạo nên tác phẩm nghệ thuật vượt thời gian
            bởi lối kiến trúc mang cảm hứng thiên nhiên di sản hòa cùng nét chấm phá đương đại. Sự kết hợp đa dạng
            các chất liệu tự nhiên: shape đá, vertical garden… đã làm nên dáng hình của “đỉnh tháp vàng” ICON40 –
            dấu ấn tượng trưng cho kỳ vọng vươn cao, kiêu hãnh hướng về Vịnh biển. Đón trọn ánh nắng bình minh và
            nguồn năng lượng mới, ICON40 trở thành tâm điểm phồn vinh cho dòng tiền đầu tư cùng trải nghiệm sống –
            nghỉ dưỡng – làm việc tối ưu.</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/viewbien.jpg" alt="">
      </div>
      <em class="note-img">Hình ảnh tháp Icon 40 nhìn ra phía biển</em>
    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>MẶT BẰNG TẦNG ĐIỂN HÌNH</strong></h2>
      <div class="col-md-5 order-md-2">
        <p><strong><span class="text-content" style="color: #ffbd59;">Thiết kế căn hộ</span></strong></p>
        <p><span class="text-content"> Căn hộ Icon 40 Hạ Long được đơn vị thiết kế quốc tế thực hiện với tiêu chuẩn
            "xanh" làm kim chỉ nam sử dụng năng lượng xanh, sạch.
            Khởi tạo một môi trường sống trong lành, tươi mới mang đến cảm nhận sống khác biệt dành cư dân.
            Không những thế, mỗi căn hộ đều được thiết kế tỉ mỉ từ việc phân bổ diện tích cũng như công năng từng phòng
            mang đến cho khách hàng căn hộ đạt tiêu chuẩn vàng vừa là nơi ở, vừa là nơi nghỉ dưỡng.</span></p>
        <p><em><span class="text-content">• Căn studio: 16 căn</span></em></p>
        <p><em><span class="text-content">• 1 ngủ + 1: 3 căn</span></em></p>
        <p><em><span class="text-content">• 2 ngủ 2 wc: &nbsp;5 căn</span></em></p>
        <p><em><span class="text-content">• 3 ngủ: 1 căn</span></em></p>
      </div>
      <div class="col-md-7 order-md-2">
        <div class="carousel slide mb-6">
          <div class="form-img">
            <img [src]="'../../assets/image/Icon-40/' + imagesDesign[imagesDesignIndex]" alt="" class="img-bds"
              style="height: 400px;" />
          </div>
          <button class="carousel-control-prev" type="button" (click)="changeImgDesign('prev')">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" (click)="changeImgDesign('next')">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row spaceText">
      <p><strong><span class="text-content" style="color: #ffbd59;">Cấu trúc hạ tầng</span></strong></p>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/cautruc.png" alt="">
      </div>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/thietke.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>CHÍNH SÁCH BÁN HÀNG 14 ĐỢT – <span style="color: #ed1c24;">CHIẾT
              KHẤU LÊN ĐẾN 15%</span></strong></h3>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/tiendotien.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>BẢNG HÀNG DỰ ÁN</strong></h3>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/bangduan.jpg" alt="">
      </div>
      <em class="note-img">Bảng hàng dự án đang được cập nhật</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TIẾN ĐỘ DỰ ÁN</strong></h3>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/Icon-40/tiendoduan.jpg" alt="">
      </div>
    </div>
  </div>
</div>
