<div class="container">
  <div class="row mt-3">
    <div class="col-md-4 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">Form đăng ký</h4>
        <form target="_blank" action="https://formsubmit.co/phuongvy.globalproperty@gmail.com" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col mb-2">
                <input type="text" name="name" class="form-control" placeholder="Full Name" required>
              </div>
              <div class="col mb-2">
                <input type="email" name="email" class="form-control" placeholder="Email Address" required>
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            <textarea placeholder="Your Message" class="form-control" name="message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-block mb-2">Gửi thông tin liên hệ</button>
        </form>
      <!-- <div>
        <div class="mb-3">
          <input type="text" class="form-control" id="username" placeholder="Họ tên" [required]="true" [(ngModel)]="userName">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" [required]="true" [(ngModel)]="phoneNumber">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="email" placeholder="you@example.com" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="contactContent" placeholder="Nội dung" [(ngModel)]="contactContent">
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="register()">Đăng ký</button>
      </div> -->
      <!-- <form style="width: 50%; margin: auto">
          <h1>Material Form</h1>
          <div style="width: 100%">
            <input matInput placeholder="Name" [formControl]="nameFormControl" />
            <div *ngIf="nameFormControl.hasError('minlength')">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </div>
          </div>
          <div style="width: 100%">
            <input matInput placeholder="Email" [formControl]="emailFormControl"/>
            <div *ngIf="emailFormControl.hasError('email')">
              Please enter a valid email address
            </div>
            <div *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </div>
          </div>
          <button [disabled]="emailFormControl.invalid || nameFormControl.invalid || loading"
            color="primary" (click)="register()">
            {{buttionText}}
          </button>
      </form> -->
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Giới thiệu</h4>
      <div id="text-3651443166" class="text" style="font-size: 0.9rem; line-height: 1.5;">
        <p><strong>Công ty TNHH 1TV Đầu tư &amp; Phát triển Bất động sản Toàn Cầu</strong> được thành lập năm 2008, tên
          thương mại là Global Property, với định hướng phát triển theo hướng sàn giao dịch bất động sản hàng đầu tại
          những thành phố biển tiềm năng.</p>
        <p>Mang sứ mệnh “<strong>Nơi niềm tin gửi trọn</strong>” chúng tôi mong muốn sẽ là nơi khách hàng, chủ đầu tư và
          các đối tác đặt trọn niềm tin vào từng sản phẩm do công ty triển khai.</p>
        <p>Ban lãnh đạo cùng toàn thể nhân viên công ty luôn&nbsp; cố gắng hết mình, hướng tới mục tiêu tăng trưởng bền
          vững, mang giá trị nhân văn tới mọi nhà và cùng hướng tới một <strong>Global Property</strong> đoàn kết, kỷ
          luật, tri thức có tầm nhìn dài hạn.</p>
        <p>Đồng thời, <strong>Global Property</strong> trở thành một thành viên tích cực tham gia các hoạt động xã hội,
          công tác thiện nguyên và đặc biệt đóng góp tích cực vào thành tựu chung của các cơ quan, tổ chức và hiệp hội
          trong lĩnh vực bất động sản nói chung và môi giới, phân phối bất động sản chuyên nghiệp nói riêng.</p>
        <p>Sự tin tưởng của các chủ đầu tư, đối tác, khách hàng là nguồn động viên to lớn trên bước đường phát triển của
          <strong>Global Property</strong>. Chúng tôi đã, đang và sẽ không ngừng nỗ lực để từng bước trở thành hệ thống
          môi giới và tiếp thị hàng đầu theo hướng chuyên nghiệp hóa, hiện đại hóa.</p>
      </div>
      <div class="col-md-12">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="../../assets/image/baner-cong-ty.jpg" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
