<div class="container mt-5">
  <div class="row spaceText">
    <div class="col-md-7 order-md-1">
      <div class="carousel slide">
        <div>
          <div class="slidesAstro">
              <img src="../../assets/image/AstroHLB/astro.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesAstro">
              <img src="../../assets/image/AstroHLB/astro1.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesAstro">
              <img src="../../assets/image/AstroHLB/astro3.jpg" style="width:100%; height: 400px">
          </div>
          <div class="slidesAstro">
              <img src="../../assets/image/AstroHLB/astro4.jpg" style="width:100%; height: 400px">
          </div>
        </div>
        <!-- Next and previous buttons -->
        <button class="carousel-control-prev" type="button" (click)="plusSlides(-1)">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" (click)="plusSlides(1)">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Thumbnail images -->
      <div class="row thumbnail-img mt-3">
        <div class="column">
          <img class="demo cursor" src="../../assets/image/AstroHLB/astro.jpg" style="width:100%" (click)="currentSlide(1)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/AstroHLB/astro1.jpg" style="width:100%" (click)="currentSlide(2)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/AstroHLB/astro3.jpg" style="width:100%" (click)="currentSlide(3)">
        </div>
        <div class="column">
          <img class="demo cursor" src="../../assets/image/AstroHLB/astro4.jpg" style="width:100%" (click)="currentSlide(4)">
        </div>
      </div>
    </div>
    <div class="col-md-5 order-md-2 mb-4 form-dang-ky">
      <h4 class="mb-3">The Holiday HẠ LONG</h4>
      <div class="product-short-description">
        <p><span class="text-content">
          Chủ đầu tư Công ty Limitless World chính thức ra mắt dự án Hạ Long Star Bãi Cháy nằm tại trung tâm Bãi Cháy Hạ Long
          với đa dạng sản phẩm liền kề, biệt thự, shophouse, căn hộ cao cấp với giá bán ưu đãi cùng nhiều chính sách bán hàng hấp dẫn.
        </span></p>
      </div>
    </div>
  </div>
  <div class="product-footer">
    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>Hạ Long Star</strong> là dự án biệt thự liền kề,
          căn hộ cao cấp, nhà phố lâu dài quy hoạch trên diện tích 125 ha, nằm cách bãi tắm Bãi Cháy chỉ 5 phút di chuyển.
          Các tiêu chuẩn của liền kề biệt thự Hạ Long Star đều được đảm bảo về trục đường giao thông, diện tích khuôn viên cây xanh,
          hồ nhân tạo lớn, mang đến không gian thoáng đãng, sang trọng, đẹp mặt phục vụ cộng đồng dân cư.
          Hạ Long Star Bãi Cháy giai đoạn 1 triển khai với quy mô 12ha gồm 363 căn liền kề shophouse xây thô hoàn thiện mặt ngoài.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro12.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh dự án Hạ Long Star Bãi Cháy</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>Dự án Hạ Long Star Bãi Cháy</strong> do Công ty TNHH Limitless World (Việt Nam) thực hiện có vị trí đắc địa và
          có giá trị địa tô cao tại khu vực trung tâm Khu du lịch Bãi Cháy – Khu vực có nhiều nhà đầu tư có năng lực tài chính,
          kinh nghiệm đầu tư có nhu cầu đầu tư.
        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TỔNG QUAN DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content"><strong>The Holiday Ha Long</strong> là tổ hợp bất động sản đang được phát triển bởi Tập đoàn Global Invest
          tại vị trí duy nhất còn lại trên mặt đường Hạ Long. The Holiday Ha Long không chỉ thừa hưởng mà sẽ bổ sung vào hệ sinh thái du lịch Bãi Cháy nhiều giá trị mới,
          với hệ thống chăm sóc sức khỏe toàn diện cùng những tiện ích tiêu chuẩn quốc tế lần đầu xuất hiện.
        </span></p>
      </div>
    </div>
    <div class="row spaceText" style="align-items: center;">
      <div class="col-md-12">
        <p><span class="text-content">• <strong>Tên dự án:</strong> Hạ Long Star.</span></p>
        <p><span class="text-content">• <strong>Vị trí dự án:</strong> Đường Bãi Cháy, phường Bãi Cháy, TP. Hạ Long, tỉnh Quảng Ninh.</span></p>
        <p><span class="text-content">• <strong>Chủ đầu tư:</strong> Công ty Limitless World – Tập đoàn Nakheel (Dubai).</span></p>
        <p><span class="text-content">• <strong>Quy mô dự án:</strong> 125 ha.</span></p>
        <p><span class="text-content">• <strong>Tổng diện tích GD1:</strong> 12ha.</span></p>
        <p><span class="text-content">• <strong>Loại hình sản phẩm:</strong> Shophouse, liền kề</span></p>
        <p><span class="text-content">• <strong>Số lượng sản phẩm:</strong> 363 căn</span></p>
        <p><span class="text-content">• <strong>Thông số sản phẩm:</strong> Diện tích 95-120m2, hoàn thiện mặt ngoài cao 5 tầng (xây dựng 80%)</span></p>
        <p><span class="text-content">• <strong>Hình thức sở hữu:</strong> Sổ đỏ lâu dài.</span></p>
      </div>
      <div class="col-md-12 order-md-3" style="text-align: center;">
        <div class="col-md-12 project-img">
          <img class="project-img-bds" src="../../assets/image/AstroHLB/astro13.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>VỊ TRÍ DỰ ÁN HẠ LONG STAR BÃI CHÁY</strong></h3>
        <p><span class="text-content"><strong>Dự án Hạ Long Star</strong> toạ lạc tại vị trí đắc địa, tựa sơn hướng hải,
          bao trọn tầm nhìn các dự án triệu đô của Sun Group, Vin Group, Bim Group và đặc biệt Vịnh Hạ Long. Phía Tây giáp khu nhà ở sân vườn Cái Dăm,
          khu biệt thự cao cấp đồi 368, Đài truyền hình; phía Nam giáp đường Bãi Cháy. Lợi thế nằm trong khu dân cư lâu năm của Thành Phố Hạ Long,
          chỉ trong bán kính ngắn, dự án có thể kết nối thuận tiện tới các địa điểm nổi tiếng của Thành Phố.</span></p>
      </div>
    </div>
    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro10.jpg" alt="">
      </div>
      <em class="note-img">Vị trí dự án Hạ Long Star Bãi Cháy Quảng Ninh</em>
      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro4.jpg" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content"><strong>Hạ Long Star Bãi Cháy</strong> sở hữu hệ thống giao thông thuận tiện,
          nằm trên tuyến đường giao lộ kết nối thành phố du lịch nghỉ dưỡng và thành phố mới tại Hạ Long
          ( rút ngắn 2km giao thông di chuyển từ Trung tâm Hòn Gai sang trung tâm Bãi Cháy).
        </span></p>
        <p><span class="text-content">Từ Hạ Long Star, du khách có thể dễ dàng tiếp cận mọi địa điểm nổi tiếng của thành phố trong vài phút.
          Dự án cách bến xe Bãi Cháy 1km, khu du lịch thương mại sinh thái Carina Hạ Long 2km, công viên sinh thái Đại Dương – cáp treo 3 km,
          khu nghỉ dưỡng cao cấp Vinpearl Đảo Rều 3 km, đảo Tuần Châu 4 km, trung tâm hành chính Hạ Long 5 km…
        </span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Liên kết vùng dự án Hạ Long Star Bãi Cháy Quảng Ninh.</span></p>
        <p><span class="text-content">• Cách Bến xe Bãi Cháy 1km.</span></p>
        <p><span class="text-content">• Cách Ga tàu điện 1.5km.</span></p>
        <p><span class="text-content">• Cách Bệnh viện Bãi Cháy 1km.</span></p>
        <p><span class="text-content">• Cách Khu du lịch thương mại sinh thái Carina Hạ Long 2km.</span></p>
        <p><span class="text-content">• Cách Công viên sinh thái Đại Dương – cáp treo 3km.</span></p>
        <p><span class="text-content">• Cách Khu nghỉ dưỡng cao cấp Vinpearl đảo rều 3km.</span></p>
        <p><span class="text-content">• Cách Đảo Tuần Châu 4km.</span></p>
        <p><span class="text-content">• Cách Bệnh viện phụ sản 5km.</span></p>
        <p><span class="text-content">• Cách Trung tâm hành chính Hạ Long 5km.</span></p>
        <p><span class="text-content">• Cách Bệnh viện quốc tế Vinmec 5km.</span></p>
        <p><span class="text-content">• Cách Sân golf FLC Hạ Long 5km.</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align: center;"><strong>TIỆN ÍCH DỰ ÁN THE HOLIDAY HẠ LONG</strong></h3>
        <p><span class="text-content">Nằm tại trung tâm của thành phố du lịch sầm uất song Hạ Long Star
          vẫn đảm bảo sự riêng tư cho khách tới nghỉ dưỡng khi nằm trên đồi cao với rừng cây và thảm thực xanh mát bao bọc.
          Nội khu dự án là hàng loạt tiện ích, dịch vụ đẳng cấp, phục vụ nhu cầu của khách hàng với tiêu chuẩn 5 sao như khách sạn,
          trung tâm thương mại, Công viên cây xanh, Trung tâm y tế và chăm sóc sức khỏe, khu sinh hoạt cộng đồng, trung tâm thể dục thể thao, trường học…
        </span></p>
        <p><span class="text-content">Đến với Hạ Long Star, không đơn thuần là bạn được thỏa mãn những nhu cầu thiết yếu như:
          ăn uống, vui chơi, giải trí mà hơn thế nơi đây sẽ mang đến những giây phút trải nghiệm tuyệt vời,
          xứng danh “ thiên đường nghỉ dưỡng” nhờ chuỗi tiện ích cao cấp, đồng bộ:
        </span></p>
        <div style="margin-left: 30px;">
          <p><span class="text-content">• Bể bơi vô cực.</span></p>
          <p><span class="text-content">• Bể bơi 4 mùa.</span></p>
          <p><span class="text-content">• Khu trung tâm thể thao, vui chơi giải trí phức hợp.</span></p>
          <p><span class="text-content">• Nhà hàng cao cấp.</span></p>
          <p><span class="text-content">• Khách sạn sang trọng.</span></p>
          <p><span class="text-content">• Trường mầm non tiêu chuẩn.</span></p>
          <p><span class="text-content">• Khu văn phòng.</span></p>
          <p><span class="text-content">• Sky Bar.</span></p>
          <p><span class="text-content">• Khu sinh hoạt cộng đồng.</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro1.jpg" alt="">
      </div>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro2.jpg" alt="">
      </div>
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro3.jpg" alt="">
      </div>
      <em class="note-img">Dự án Hạ Long Star tại Bãi Cháy có vị trí vàng, mang trong mình vẻ đẹp Kiến trúc Địa Trung Hải chắc chắn sẽ là khu nghỉ dưỡng đẳng cấp quốc tế trên vùng đất “rồng” Hạ Long.</em>
    </div>

    <div class="row">
      <h2 style="text-align: center;"><strong>MẶT BẰNG DỰ ÁN THE HOLIDAY HẠ LONG</strong></h2>
      <div class="col-md-12">
        <p><span class="text-content"><strong>Dự án Hạ Long Star</strong> được thiết kế theo hình ZigZag từ chân đến đỉnh đồi,
          dự án đảm bảo tất cả các nền dự án đều có view vịnh và hồ sinh thái tuyệt đẹp, thiên nhiên ban tặng làm nơi nghỉ dưỡng
          và đầu tư tốt nhất ngay trung tâm thương mại du lịch lớn nhất cả nước.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro9.jpg" alt="">
      </div>
      <em class="note-img">Mặt bằng dự án Hạ Long Star</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Hạ Long Star được quy hoạch với lối kiến trúc tập trung rất nhiều vào
          không gian cảnh quan thiên nhiên, chủ nhân của các căn biệt thự đồi Hạ Long Star sẽ được trải nghiệm một kỳ nghỉ dưỡng,
          du lịch biển, vui chơi giải trí với dịch vụ cao cấp, đa dạng chắc chắn sẽ làm hài lòng các quý khách hàng mong muốn một cuộc sống sang trọng,
          hiện đại, tiện nghi.
        </span></p>
        <p><span class="text-content">Tất cả các căn tại Hạ Long Star đều có tầm nhìn rộng thoáng bao trọn hướng ra Vịnh Hạ Long và Vịnh Cửa Lục,
          phía dưới là Công viên sinh thái Hồ thủy sản, tạo nên địa thế đặc biệt “lưng tựa núi – mặt hướng biển”.
        </span></p>
      </div>

      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro10.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh nhà vườn dự án Hạ Long Star Bãi Cháy</em>

      <div class="col-md-12 project-img mt-3">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro11.jpg" alt="">
      </div>
      <em class="note-img">Phối cảnh shophouse dự án Hạ Long Star Bãi Cháy</em>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p><span class="text-content">Từ đây, gia chủ có thể ngắm nhìn Vịnh từ trên cao,
          còn khi hướng tầm mắt ra xa hơn sẽ có thể chứng kiến bức tranh thành phố Hạ Long
          với các biểu tượng nổi tiếng như cầu Bãi Cháy, Vòng quay mặt trời Sun Wheel…
          Tầm nhìn từ dự án được giới đầu tư đánh giá cao, khẳng định giá trị tiềm năng của dự án trong tương lai gần.
        </span></p>
      </div>
    </div>

    <div class="row spaceText">
      <div class="col-md-12 project-img">
        <img class="project-img-bds" src="../../assets/image/AstroHLB/astro14.jpg" alt="">
      </div>
    </div>

</div>
