.card-footer {
  padding: 10px;
  border-top: 1px solid #e9ecf1;
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.left {
  display: inline-block;
  width: 50%;
  float: left;
}
.right {
  display: inline-block;
  width: 50%;
  float: right;
  text-align: right;
}

#text-746991030 {
  font-size: 1.25rem;
  color: rgb(32, 145, 209);
}
#text-746991030 > * {
  color: rgb(32, 145, 209);
}
#col-1418601433>.col-inner {
  padding: 31px 0px 0px 0px;
}
#text-1450351932 {
  font-size: 1.2rem;
  line-height: 1.4;
}
#image_198412751 {
  width: 46%;
}


#text-880427583 {
  font-size: 1.25rem;
  line-height: 0.75;
  text-align: center;
  color: rgb(68, 154, 210);
}
#text-880427583 > * {
  color: rgb(68, 154, 210);
}

#text-3659671470 {
  line-height: 1.5;
  text-align: center;
}

.btn-card {
  border: none;
  background-color: white;
  font-size: 1.25rem;
  color: rgb(0, 44, 95);
  font-weight: bold
}

.introduce {
  color: white;
  font-size: 0.9rem;
  line-height: 1.5;
  background-color: rgb(5, 89, 119);
  border-radius: 2%;
  padding: 15px;
}

.info-text {
  padding: 5px;
}

.active-img {
  background: linear-gradient(to bottom, rgba(-72, 56, 96, 0.8) 0%, rgba(73, 69, 74, 0.8) 100%), url("/assets/image/Home/linhvuchoatdong.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: white;
}

.active-card {
  background: none;
  border: none;
}

.active-card:hover {
  border: white;
  border-style: dotted;
  border-width: 1px;
}

.active-title {
  text-align: center;
  color: rgb(68, 154, 210);
  font-weight: bold;
  font-size: 1.3rem;
}

.active-content {
  color: white;
  padding: 5px;
}
